<section class="block block--dark block--skewed-left">
  <div class="container grid grid--cols-2">
    <div class="hero__content">
      <h1 class="block__heading">
        Follow The Flow And Never Miss A Trading Opportunity
      </h1>
      <p class="block__tagline">
        Get The Best Live Updates And Stay On Top Of The Market With Our Modern
        <span>Trading Technology</span> And Award Winning Trading Services
      </p>
      <a href="" class="btn__hero btn--stretched">Get Started</a>
    </div>
    <img class="hero__image hero__lights" src="images/lights.svg" alt="" />

    <img class="hero__image hero__bull" src="images/bull.svg" alt="" />
    <img class="hero__image hero__mobile" src="images/mobile.svg" alt="" />
  </div>
</section>
