<nav class="nav">
  <a href="/"><img src="/images/TAURO-(1) 1.svg" /></a>

  <ul class="list nav__list">
    <li class="home nav__items"><a href="#">Home</a></li>
    <li class="nav__items"><a href="#">Offers</a></li>
    <li class="nav__items"><a href="#">Account Types</a></li>
    <li class="nav__items"><a href="#">platforms</a></li>
    <li class="nav__items"><a href="#">who we are</a></li>
    <li class="nav__items"><a href="#">partners</a></li>
    <button class="btn nav__btn"><a href="#">Get in Touch</a></button>
  </ul>
</nav>
